{% extends "core/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Invoices</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>م</th>
                <th>العميل</th>
                <th>الإجمالى</th>
                <th>التاريخ</th>
                <th>أوامر</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.customer_name }}</td>
                <td>{{ invoice.total_price }}</td>
                <td>{{ invoice.created_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <a href="{% url 'seller:invoice-detail' invoice.id %}" class="btn btn-danger">عرض التفاصيل</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="5" class="text-center">لا توجد فواتير مسجلة</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
