{% extends 'core/base.html' %}
{% block content %}
    <h2>إضافة / تعديل منتج</h2>
    <form method="post" class="p-4 shadow rounded bg-white" style="max-width: 500px; margin: auto;">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label" style="color:black; min-width:15vw">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors.as_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-100">💾 حفظ</button>
    </form>
    <a href="{% url 'stock:product_list' %}" class="btn btn-secondary mt-3">العودة إلى قائمة المنتجات</a>
{% endblock %}

{% block extra_js %}
    /// some calculation
    $("#id_small_units_counts").keyup(function(){
        let bigCost = bigSell = smallCost = smallSell  = 0;
        bigCost = $("#id_big_unit_cost_price").val();
        bigSell = $("#id_big_unit_sell_price").val();
        smallUnits = $("#id_small_units_counts").val();
        smallCost = parseFloat((bigCost / smallUnits).toFixed(2));
        $("#id_small_unit_cost_price").val(smallCost);
    })
    
{% endblock %}

