{% extends "core/base.html" %}  {# Ensure you have a global base template #}
{% block content %}
{% for product in products %}
    <p class="btn-primary btn">{{ product.name }} - {{ product.price }} جنيه - الكمية المتاحة -> {{ product.stock_quantity }} </p>
    <a class="btn-info btn" href="{% url 'stock:product-update' product.id %}">تعديل</a>
    <a class="btn-danger btn" href="{% url 'stock:product-delete' product.id %}">حذف</a><br>
{% endfor %}
<br>
<a href="{% url 'stock:product-create' %}" class="d-block btn btn-info p-3 text-white">إضافة منتج جديد</a>
{% endblock %}

