body {
  direction: rtl;
  background-image: url('../imgs/back.jpg');
  background-size: cover; /* Ensures full-page coverage */
  background-position: center top; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Prevents stretching on scroll */
  font-family: 'Helvetica', sans-serif;
  color: #FFF;
  min-height: 100vh; /* Ensures it takes at least the viewport height */
}

.select2-results__option {
  background-color: blueviolet !important;
  margin-bottom: 2vh;
}
